<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_timeout" value="600" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Azure Artifacts" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-libraries/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials />
</configuration> 